<section>
	<div id="newsletter" class="visible">
		<div class="container">	
			<div class="row">
				<div class="col l8 offset-l2 m12 offset-m0 s12">
					<article class="card white tooltipped" data-position="left" data-delay="50" data-tooltip="Bem Vindo">
						<h3> Processo Seletivo 2015.1 </h3>
					</article>
					<article class="card white">
							<div id="mc_embed_signup">
						      <%= form_for(@candidate) do |f| %>
									  <div class="field tooltipped" id="name" data-position="bottom" data-delay="50" data-tooltip="Nome completo">
									    <%= f.text_field :name, placeholder: "Nome"  %>
									  </div><br>
									  <div class="field tooltipped" data-position="bottom" data-delay="50" data-tooltip="(XX)XXXX-XXXX">
									    <%= f.text_field :phone, placeholder: "Telefone"  %>
									  </div><br>
									  <div class="field tooltipped" data-position="bottom" data-delay="50" data-tooltip="Iremos enviar spam, ou não ... ou sim">
									    <%= f.text_field :email, placeholder: "Email"  %>
									  </div><br>
									  <div class="field tooltipped" data-position="bottom" data-delay="50" data-tooltip="Com ou sem zero, aí é contigo =P">
									    <%= f.text_field :register, placeholder: "Matricula"  %>
									  </div><br>
									  <br>

									  <div class="fileUpload btn btn-lg btn-primary btn-block">
									    <span>Curriculo</span>
									    	<%= f.file_field :resume, class: "upload", onchange: "resume(this)"%>
									    <i id="resume_i" class="fa fa-cloud-upload"></i>
										</div>
										<br>


									  <div class="fileUpload btn btn-lg btn-primary btn-block tooltipped" data-position="right" data-delay="50" data-tooltip="Para quem é do primeiro ano relaxe, não levamos em conta as notas">
									    <span>Histórico</span>
									    	<%= f.file_field :history, class: "upload", onchange: "history(this)" %>
									    <i id="history_i" class="fa fa-cloud-upload"></i>
										</div>
										<br>


									  <div class="actions tooltipped" data-position="bottom" data-delay="50" data-tooltip="Você está certo desta resposta?">
									    <button type="submit" class=" right btn btn-lg btn-primary btn-block">Enviar</button>
									  </div>
									<% end %>
							</div>
					</article>
				</div>
			</div>
		</div>	
	</div>
	<div class="down visible" data-destination="#what"></div>
</section>

<script>
 $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
</script>


